<footer class="footer py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-3">
        <h6 class="fw-bold">Assistance</h6>
        <ul class="list-unstyled">
          <li>Aide</li>
          <li>Contact</li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="fw-bold">Voyages</h6>
      </div>

      <div class="col-md-3">
        <h6 class="fw-bold">Hébergement</h6>
      </div>

      <div class="col-md-3">
        <h6 class="fw-bold">Réseaux</h6>
      </div>
    </div>
  </div>
</footer>
