<p>hero works!</p>
<section class="hero-section">
  <div class="overlay"></div>

  <div class="container-fluid px-lg-5 h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-5">
        <div class="hero-content text-white">
          <h1 class="fw-bold">Trouvez l’hébergement qui vous ressemble</h1>

          <p>Des milliers de logements de qualité partout en France.</p>

          <div class="d-flex gap-3 mt-4">
            <button class="btn btn-light">
              <i class="bi bi-play-fill"></i>
              Vidéo
            </button>

            <button class="btn btn-outline-light">Explorer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
