.search-wrapper {
  margin-top: -70px;
  position: relative;
  z-index: 50;
}

.search-card {
  border-radius: 20px;
  padding: 20px;
}

.search-item {
  padding: 10px;
}

.search-item label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.search-btn {
  height: 55px;
  margin-top: 25px;
}
