<div class="search-wrapper">
  <div class="card border-0 shadow-lg search-card">
    <div class="row g-0 align-items-center">
      <div class="col-lg-2">
        <div class="search-item">
          <label>Ville</label>
          <input class="form-control" placeholder="Paris" />
        </div>
      </div>

      <div class="col-lg-2">
        <div class="search-item">
          <label>Arrivée</label>
          <input type="date" class="form-control" />
        </div>
      </div>

      <div class="col-lg-2">
        <div class="search-item">
          <label>Départ</label>
          <input type="date" class="form-control" />
        </div>
      </div>

      <div class="col-lg-2">
        <div class="search-item">
          <label>Voyageurs</label>
          <select class="form-select">
            <option>2 voyageurs</option>
          </select>
        </div>
      </div>

      <div class="col-lg-2">
        <button class="btn btn-warning w-100 search-btn">Rechercher</button>
      </div>
    </div>
  </div>
</div>
