<div class="property-card card border-0 shadow-sm">
  <div class="image-wrapper">
    <img src="/assets/images/property.jpg" class="card-img-top" />

    <span class="price-badge"> 69 € / nuit </span>
  </div>

  <div class="card-body">
    <h6 class="fw-bold mb-1">Studio</h6>

    <p class="text-muted small mb-2">Paris • France</p>

    <div class="d-flex justify-content-between">
      <div class="text-warning">★★★★★</div>

      <div>
        <i class="bi bi-heart"></i>
      </div>
    </div>
  </div>
</div>
